tasks:

  visit:
    channelName: "update_vt_visit"
    debounceWait: 30000
    sql: "SELECT id, title, location FROM images"
    vtParams:
      - "-zg"
      - "--drop-densest-as-needed"
      - "--extend-zooms-if-still-dropping"

  contribute:
    channelName: "update_vt_contribute"
    debounceWait: 30000
    sql: "SELECT id, location FROM images"
    vtParams:
      - "-zg"
      - "--drop-densest-as-needed"
      - "--extend-zooms-if-still-dropping"
